.card img:hover{
    transition: 0.3s case-in-out;
    transform: scale(1.1);
}
.form-inline .form-control {
    display: inline-block;
    vertical-align: middle;
    width: 556px;
    height: 44px;
}