<header>
    
    <div class="navbar navbar-dark shadow-sm">
        <div class="col-sm-2">
            <div style="color: white;padding: 4px 15px" class="navbar-brand align-item-center d-flex">
                <i style="font-size: 40px;" class="fa fa-ice-cream">&nbsp;
                 
                </i>
                <strong style="font-size: 30px;">Food Order</strong>
               
            </div>
        </div>
        <div class="col-sm-6" style="top: 8px;">
            
        </div>
        <div class="col-sm-2">
          </div>
        <div class="col-sm-2">
          <button style="background-color: blue;color:white;" class="btn">
            <i style="font-size: 30px;" class="fas fa-cart-plus"></i>
            <div style="font-size: 11px;background-color: red;" class="badge">4</div>
          </button>
        </div>
        
    </div>
</header>