 .navbar{
    background-color: blue;
 } 
/* .form-control{
    border-radius: 3px;
    width: 600px;
    margin-left: 28px;
    margin-top: 10px;
 }
 .search-icon{
    position: absolute;
    z-index: 19;
    right:52%;
    bottom: 44%;
    color: blue;
    font-size: 21px;
 } */